@import '../../global/global.scss';

.Projects {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 1366px) {
  .Projects {
    max-width: 1200px;
    margin: 0 auto 100px;
  }
}

@media (min-width: 1560px) {
  .Projects {
    margin: 0 auto 140px;
  }
}

@media (min-width: 1920px) {
  .Projects {
    max-width: 1560px;
    margin: 0 auto 200px;
  }
}
