@import '../../../global/global.scss';

.myAdvantages {
  display: flex;
  flex-direction: column;
  li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  .checkIcon {
    width: 25px;
    height: auto;
    margin-right: 10px;
  }
}

@media (min-width: 768px) {
  .myAdvantages {
    width: 40%;
  }
}

@media (min-width: 1920px) {
  .myAdvantages {
    li {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .checkIcon {
      width: 30px;
    }
  }
}
