.MainPadding {
  padding: 0 20px;
}

@media (min-width: 768px) {
  .MainPadding {
    padding: 0 50px;
  }
}

@media (min-width: 1366px) {
  .MainPadding {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }
}

@media (min-width: 1560px) {
  .MainPadding {
    position: relative;
  }
}

@media (min-width: 1920px) {
  .MainPadding {
    max-width: 1560px;
  }
}
