%font__nunito--bold {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}
%font__poppins--regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
%font__poppins--medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
%font__poppins--semi-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
%font__poppins--bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
