@import '../../../global/global.scss';

.Project {
  position: relative;
  img {
    width: 100%;
    display: block;
    max-width: 520px;
  }
  a {
    position: absolute;
    @extend %font__poppins--bold;
    font-size: 30px;
    color: $white;
    left: 20px;
    bottom: 20px;
    line-height: 1.2em;
  }
  &:nth-child(2n) {
    box-shadow: 0 0 10px $black;
    z-index: 2;
  }
  &:last-child {
    display: none;
  }
}

@media (min-width: 500px) {
  .Project {
    width: 50%;
    &:nth-child(1n) {
      z-index: 1;
      box-shadow: none;
    }
    &:first-child,
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(8) {
      z-index: 2;
      box-shadow: none;
      box-shadow: 0 0 5px 0 #030202;
    }
  }
}

@media (min-width: 768px) {
  .Project {
    a {
      font-size: 26px;
      left: 50px;
      bottom: 20px;
      padding-right: 50px;
      box-sizing: border-box;
    }
  }
}

@media (min-width: 1024px) {
  .Project {
    width: 33.33%;
    &:last-child {
      display: flex;
    }
    a {
      font-size: 30px;
    }
    &:nth-child(1n) {
      box-shadow: none;
      z-index: 1;
    }
    &:nth-child(odd) {
      z-index: 2;
      box-shadow: 0 0 10px 1px #030202;
    }
  }
}

@media (min-width: 1560px) {
  .Project {
    a {
      font-size: 40px;
    }
  }
}

@media (min-width: 1920) {
  .Project {
    a {
      font-size: 50px;
    }
  }
}
