@import '../../global/global.scss';

.SectionTitle {
  position: relative;
  color: $white;
  @extend %font__poppins--bold;
  font-size: 22px;
  line-height: 1.4em;
  margin: 0 0 20px 0;
}
.line {
  position: absolute;
  width: 40px;
  height: 5px;
  top: 0;
  left: 0;
  transform: translateY(-50%) translateX(-20px);
}

@media (min-width: 768px) {
  .SectionTitle {
    font-size: 30px;
  }
  .line {
    transform: translateY(-50%) translateX(-50px);
    width: 76px;
  }
}

@media (min-width: 1024px) {
  .SectionTitle {
    font-size: 42px;
    margin-bottom: 4vw;
  }
  .line {
    height: 8px;
    width: 87px;
  }
}

@media (min-width: 1366px) {
  .SectionTitle {
    font-size: 60px;
  }
  .line {
    height: 10px;
    width: 300px;
    transform: translateY(-50%) translateX(-250px);
  }
}

@media (min-width: 1560px) {
  .SectionTitle {
    font-size: 62px;
  }
  .line {
    width: 500px;
    transform: translateY(-50%) translateX(-442px);
  }
}

@media (min-width: 1920px) {
  .SectionTitle {
    font-size: 83px;
    margin-bottom: 100px;
  }
  .line {
    height: 15px;
    transform: translateY(-50%) translateX(-425px);
  }
}
