@import '../../global/global.scss';

.Contact {
  .links {
    padding: 15px 0;
    background: $red;
    box-sizing: border-box;
    height: 100%;
  }
  li {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  a {
    display: flex;
    align-items: center;
    color: $white;
  }
  p {
    @extend %font__poppins--regular;
    font-size: 12px;
    text-decoration: underline;
  }
  .socialIcon {
    width: 50px;
    height: auto;
    color: $white;
    margin-right: 10px;
  }
  .copyright {
    color: $white;
    @extend %font__poppins--regular;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
  }
  .iconCopyright {
    width: 15px;
    height: auto;
    color: $white;
    margin-right: 5px;
  }
}

@media (min-width: 375px) {
  .Contact {
    p {
      font-size: 16px;
    }
  }
}

@media (min-width: 500px) {
  .Contact {
    .socialIcon {
      margin-right: 30px;
    }
  }
}

@media (min-width: 1024px) {
  .Contact {
    .links__list {
      flex-wrap: wrap;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    li {
      width: 50%;
      height: 33%;
      transition: scale 0.3s ease-in-out;
      &:hover {
        scale: 1.2;
        transition: scale 0.3s ease-in-out;
      }
      p {
        font-size: 20px;
      }
    }
  }
}

@media (min-width: 1560px) {
  .Contact {
    .socialIcon {
      width: 75px;
    }
    li {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      p {
        font-size: 30px;
      }
    }
    .copyright {
      font-size: 16px;
    }
  }
}

@media (min-width: 1920px) {
  .Contact {
    .links__list {
      padding: 40px;
    }
    .socialIcon {
      width: 100px;
    }
    li {
      &:not(:last-child) {
        margin-bottom: 50px;
      }
    }
    .copyright {
      font-size: 30px;
    }
    .iconCopyright {
      width: 25px;
    }
  }
}
