@import '../../global/global.scss';

.Header {
  min-height: 250px;
  background: $white;
  background-image: url('./imgs/BLAH@2x.jpg');
  background-position: center top;
  background-size: cover;
  position: relative;
  padding-top: 22px;
  background-repeat: no-repeat;
  .toggleAndName {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .name {
    color: $grey;
    opacity: 0.7;
    @extend %font__nunito--bold;
    font-size: 10px;
    margin-left: 10px;
  }
  .text {
    color: $grey;
    .slogan {
      font-size: 22px;
      @extend %font__poppins--bold;
      line-height: 1.4em;
      width: 50%;
      margin-bottom: 5px;
    }
    .profession {
      @extend %font__poppins--medium;
      font-size: 12px;
    }
  }
  .arrow {
    width: 10px;
    height: auto;
    margin-right: 5px;
    margin-left: 5px;
  }
  .menuIcon {
    color: $red;
    width: 27px;
    height: auto;
    font-size: 12px;
    position: relative;
    z-index: 10;
  }
  .iconWrap {
    z-index: 10;
    cursor: pointer;
  }
}

@media (min-width: 500px) {
  .Header {
    .name {
      font-size: 15px;
    }
    .text {
      .slogan {
        font-size: 24px;
      }
      .profession {
        font-size: 15px;
      }
    }
    .menuIcon {
      width: 40px;
    }
  }
}

@media (min-width: 650px) {
  .Header {
    background-position: center -20px;
  }
}

@media (min-width: 768px) {
  .Header {
    background-image: url('./imgs/BLAH@2x.jpg');
    min-height: 300px;
    .name {
      font-size: 20px;
    }
    .text {
      .slogan {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 10px;
      }
      .profession {
        font-size: 20px;
      }
    }
    .menuIcon {
      width: 50px;
    }
    .toggleAndName {
      margin-bottom: 20px;
    }
    .arrow {
      width: 20px;
    }
  }
}

@media (min-width: 850px) {
  .Header {
    min-height: 400px;
  }
}

@media (min-width: 1024px) {
  .Header {
    min-height: 40vw;
    .name {

    }
    .text {
      .slogan {
        font-size: 46px;
        line-height: 1.4em;
      }
      .profession {
        font-size: 30px;
      }
    }
    .arrow {
      width: 36px;
    }
  }
}

@media (min-width: 1024px) {
  .Header {
    .iconWrap {
      display: none;
    }
  }
}