@import './global/global.scss';

body {
  margin: 0;
  @extend %font__poppins--medium;
  font-size: 12px;
  background: $black;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button {
  padding: 0;
}
p {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
