@import '../../global/global.scss';

.Nav {
  padding-top: 22px;
  .menuIcon {
    color: $red;
    width: 27px;
    height: auto;
    margin-right: 10px;
    font-size: 12px;
  }
  .name {
    color: $grey;
    @extend %font__nunito--bold;
    font-size: 12px;
  }
  .header {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .text {
    color: $grey;
    .slogan {
      font-size: 22px;
      @extend %font__poppins--bold;
      line-height: 24px;
      width: 50%;
      margin-bottom: 5px;
    }
    .profession {
      @extend %font__poppins--medium;
      font-size: 12px;
    }
  }
  .arrow {
    width: 10px;
    height: auto;
    margin-right: 5px;
    margin-left: 5px;
  }
}
