@import '../../global/global.scss';

.AboutMe {
  color: $white;
  margin-bottom: 50px;
  .helloSpeach {
    margin-bottom: 20px;
  }
  .tech {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
    padding: 15px 0;
    justify-content: space-around;
    border-top: 1px solid $yellow;
    border-bottom: 1px solid $yellow;
    li {
      padding: 0 10px;
    }
  }
  .wrap {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .AboutMe {
    .helloSpeach {
      width: 45%;
      margin-bottom: 0;
    }
    .wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

@media (min-width: 768px) {
  .AboutMe {
    .wrap {
      font-size: 16px;
    }
    .tech {
      font-size: 26px;
      li {
        padding: 0 20px;
      }
    }
  }
}

@media (min-width: 1560px) {
  .AboutMe {
    margin-bottom: 8vw;
    .wrap {
      font-size: 22px;
      margin-bottom: 40px;
    }
    .tech {
      font-size: 42px;
      padding: 30px 0;
    }
  }
}

@media (min-width: 1920px) {
  .AboutMe {
    margin-bottom: 200px;
    .tech {
      padding: 35px 0;
      font-size: 50px;
      li {
        padding: 0 50px 0;
      }
    }
  }
}
